.markdown {
    > p {
        @extend .paragraph-size--medium;
        font-weight: 500;
        color: var(--global-colors-black);

        code {
            padding: 2px 5px;
        }
    }

    a {
        color: var(--global-colors-nebula-dark);
        transition: {
            property: color;
            timing-function: ease-out;
            duration: 0.3s;
        }

        &:hover {
            color: var(--global-colors-nebula);
            text-decoration: underline;
        }
    }

    li {
        @extend .paragraph-size--medium;
        padding: 5px 0;
        font-weight: 500;
        color: var(--global-colors-black);

        > p {
            margin-top: 0;
            margin-bottom: 10px;
        }
    }

    strong {
        color: var(--global-colors-nebula);
    }

    blockquote {
        @extend .paragraph-size--medium;
        background-color: var(--global-colors-cararra);
        border-color: var(--global-colors-mandy);
        font-weight: 500;
        color: var(--global-colors-black);
        padding: 10px;
        border-radius: var(--global-border-radius);

        code {
            background-color: var(--global-colors-chamois);
            color: var(--global-colors-cape);
        }
    }

    code {
        @extend .paragraph-size--medium;
        background-color: transparent;
        font-family: var(--global-block-family-code);
        font-weight: 500;
        border-radius: var(--global-border-radius);
        color: var(--global-colors-black);
    }

    pre {
        background-color: var(--global-colors-cararra);
    }
    pre code {
        padding: 20px;
        color: var(--global-colors-black);

        span {
            color: var(--global-colors-black) !important;
        }

        .token {
            &.punctuation {
                color: var(--global-colors-black) !important;
            }

            &.property {
                color: var(--global-colors-nebula) !important;
            }

            &.string {
                color: var(--global-colors-value) !important;
            }
        }
    }

    div[class^="codeBlock_"] {
        border-radius: 0;
    }

    .token-line {
        @extend .paragraph-size--small;
        font-weight: 500;
        font-family: var(--global-block-family-code);
        color: var(--global-colors-black) !important;
    }
}
