.shift-why {
    @include media(desktop up) {
        margin: 5% 0;
    }
    &__shift-heading {
        max-width: 580px;
    }

    .shift-heading__title {
        text-align: center;
        font-weight: 700;
        @include media(desktop up) {
            font-size: 64px;
            text-align: left;
            margin-left: -30%;
        }
    }

    .shift-heading__subtitle {
        text-align: center;
        color: var(--global-colors-black);
        margin-top: 16px;
        @include media(desktop up) {
            max-width: 550px;
            font-size: var(--global-font-size-medium);
            text-align: left;
            margin-left: -30%;
            margin-right: 50%;
        }
    }

    &__image {
        height: auto;
        margin-left: -10%;
        @include media(tablet up) {
            max-width: 100%;
            margin: 0 auto;
        }
        @include media(desktop up) {
            max-width: 120%;
            margin-left: -10%;
        }

        &--desktop {
            display: none;

            @include media(tablet up) {
                display: block;
            }
        }
        &--mobile {
            display: block;
            transform: scale(0.9);
            margin: 0 auto;

            @include media(tablet up) {
                display: none;
                transform: scale(1);
            }
        }
    }
}
