.shift-heading {
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
    padding-bottom: 60px;

    @include media(tablet up) {
        padding-bottom: 75px;
    }

    &__align {
        &--left {
            text-align: left;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__title {
        font-family: var(--global-font-family);
        letter-spacing: -2px;
        color: var(--global-colors-elephant);
    }

    &__title-size {
        &--default {
            @extend .heading-size--huge;
        }

        &--medium {
            @extend .heading-size--big;
        }

        &--small {
            @extend .heading-size--large;
        }
    }

    &__subtitle-size {
        @extend .paragraph-size--default;
        // color: var(--global-colors-cape);
        color: var(--global-colors-black);
        margin-top: 20px;

        // &--default {
        //     @extend .heading-size--huge;
        // }

        &--medium {
            @extend .heading-size--big;
        }

        &--small {
            @extend .heading-size--small;
        }

        @include media(tablet up) {
            margin-top: 40px;
        }

        a {
            text-decoration: underline;
            color: var(--global-colors-mandy);
            transition: {
                property: color;
                timing-function: ease-out;
                duration: 0.3s;
            }
        }
    }
}
