.shift-intro {
    &__title {
        font-size: var(--global-font-size-big);
        line-height: 1.13;
        color: var(--global-colors-white);
        font-weight: bold;
        letter-spacing: -1px;
        font-family: var(--global-font-family-alternative);
        z-index: 1;
        position: relative;
        // transform: scale(0.65) translateX(-25%) translateY(-10%);

        @include media(tablet up) {
            font-size: var(--global-font-size-enormous);
            line-height: 0.98;
            margin-bottom: 40px;
            transform: scale(0.6) translateX(-15%) translateY(-10%);
        }

        @include media(desktop up) {
            transform: scale(0.65) translateX(-25%) translateY(-10%);
            font-size: var(--global-font-size-gigantic);
        }
    }

    &__content {
        @extend .paragraph-size--small;
        color: var(--global-colors-white);
        margin-bottom: 25px;
        padding-left: 75px;
        position: relative;
        max-width: 550px;

        @include media(tablet up) {
            transform: scale(0.85) translateX(15%) translateY(-200%);
            max-width: 45%;
        }
        @include media(desktop up) {
            transform: scale(0.85) translateX(-10%) translateY(-320%);
            max-width: 50%;
        }

        &::before {
            content: "";
            width: 45px;
            position: absolute;
            left: 0;
            top: 20px;
            background-color: var(--global-colors-nevada);
            height: 1px;

            @include media(tablet up) {
                left: 20px;
                width: 35px;
            }
            @include media(desktop up) {
                width: 55px;
            }
        }
    }

    &__shift-button {
        margin-left: 75px;
        position: absolute;
        top: 0;
        // transform: scale(0.75) translateX(-35%) translateY(-150%);

        @include media(tablet up) {
            margin-left: 115px;
        }
    }

    .shift-button {
        @include media(tablet up) {
            transform: scale(0.9) translateX(50%) translateY(-300%);
        }
        @include media(desktop up) {
            transform: scale(0.9) translateX(10%) translateY(-300%);
        }
    }

    &__image {
        position: relative;
        margin: 0 calc(var(--global-gutter) * -1) 40px;
        display: flex;
        justify-content: flex-end;
        transform: translate(-20%, 0%);

        @include media(tablet up) {
            position: absolute;
            right: 0;
            top: 0%;
            display: block;
            margin: 0;
            transform: scale(0.5) translateX(45%) translateY(10%);
        }
        @include media(desktop up) {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    // &__image-bg {
    //     display: block;
    //     width: 100%;
    //     height: auto;
    // }

    &__image-img {
        display: block;
        position: relative;
        left: 10%;
        top: 50%;
        max-width: 75%;
        // transform: translate(-50%, -50%);

        @include media(tablet up) {
            max-width: 75%;
        }
    }
}
