.panels {
    color: var(--global-colors-black) !important;
    display: flex;
    gap: 5vw;
    padding: 20vh 15vw;
    flex-direction: column;

    .shift-container {
        @include media(tablet) {
            padding: 0;
        }
    }

    @include media(tablet up) {
        flex-direction: row;
    }
    .shift-heading {
        font-weight: 700;
        margin-bottom: 22px;
        text-align: center;
        @include media(tablet up) {
            font-size: 18px;
            text-align: left;
        }

        &__title {
            font-family: var(--global-font-family);
            @include media(desktop up) {
                margin-bottom: 32px;
                font-size: 64px;
            }
        }

        &__subtitle {
            margin-top: 20px;
            font-family: var(--global-font-family-alternative);
            font-weight: 400;
            @include media(desktop up) {
                font-size: 18px;
            }
        }

        @include media(desktop up) {
            margin-right: 200px;
            // max-width: 450px;
        }
    }
    &__heading {
        max-width: 500px;
        transform: scale(0.5);
        @include media(tablet up) {
            transform: scale(0.95);
        }
        @include media(desktop up) {
            max-width: 500px;
            transform: scale(0.5);
        }
    }

    &__image {
        max-width: 100%;
        height: auto;
    }
}
