.panels {
    display: flex;
    gap: 5vw;
    padding: 20vh 15vw;
    .shift-heading__title {
        font-weight: 700;
        margin-bottom: 22px;
    }
    &__heading {
        max-width: 500px;
        transform: scale(0.5);
    }

    &__image {
        max-width: 100%;
        height: auto;
    }
}
