.shift-get-started {
    $this: &;

    .shift-container {
        &__inner {
            @include media(desktop up) {
                max-width: var(--global-container-medium);
            }
        }
    }

    .shift-heading {
        color: var(--global-colors-black) !important;
        @include media(desktop up) {
            max-width: 100vw !important;
        }
        &__title {
            margin-bottom: 12px;
            font-size: 32px;
            font-family: var(--global-font-family);
            font-weight: 600;
            @include media(tablet up) {
                font-size: 32px;
                margin-bottom: 16px;
            }
            @include media(desktop up) {
                font-size: 64px;
                margin-bottom: 16px;
            }
        }

        &__subtitle {
            font-family: var(--global-font-family-alternative);
            @include media(tablet up) {
                font-size: 16px;
            }
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // margin: 0 calc(-1 * calc(var(--global-gutter) / 2)) -90px;
        // background-color: blue;
        width: 80%;
        margin: 0 auto;

        @include media(tablet up) {
            width: 100%;
            margin: 0 auto;
        }
        @include media(desktop up) {
            gap: 92px;
            width: 110%;
            margin-left: -5%;
        }
    }

    &__item {
        text-align: center;
        padding: 0 calc(var(--global-gutter) / 2);
        // margin: 90px;
        flex: 0 0 calc-grid-width(12);

        @include media(tablet up) {
            // max-width: 400px;
            flex: 0 0 calc-grid-width(3);
        }

        .shift-heading {
            font-size: 24px;
            &__title {
                @include media(desktop up) {
                    font-size: 32px;
                }
            }
            &__subtitle {
                @include media(desktop up) {
                    font-size: 18px;
                }
            }
        }

        // &:nth-child(even) {
        // 	padding-top: 0;

        // 	@include media(tablet up) {
        // 		padding-top: 80px;
        // 	}
        // }

        &--plugin {
            #{$this}__label-highlight {
                color: var(--global-colors-mandy);
            }
        }

        &--theme {
            #{$this}__label-highlight {
                color: var(--global-colors-picton);
            }
        }
    }

    &__link {
        &:hover {
            text-decoration: none;

            #{$this}__shift-arrow {
                @extend %shift-arrow-hover;
            }

            #{$this}__icon-bg {
                // transform: rotate(5deg);
                transition: {
                    property: transform;
                    timing-function: ease-out;
                    duration: 0.3s;
                }
            }
        }
    }

    &__icon {
        width: 230px;
        height: 200px;
        position: relative;
        margin: 0 auto -75px;
    }

    &__icon-img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &__icon-bg {
        transition: {
            property: transform;
            timing-function: ease-out;
            duration: 0.3s;
        }
    }

    &__label {
        @extend .heading-size--big;
        font-weight: bold;
        letter-spacing: -1px;
        font-family: var(--global-font-family-alternative);
        color: var(--global-colors-elephant);
        max-width: 300px;
        margin: 0 auto 25px;
    }
}
