*,
*::after,
*::before {
    @include box-sizing;
}

html {
    font-size: var(--global-font-size-default);
}

body {
    @include font-smoothing;
    font-family: var(--global-font-family);
    color: var(--global-colors-white);
    background-color: var(--global-colors-white);
    position: relative;
    overflow-x: hidden;
}

.theme-admonition {
    background-color: var(--global-colors-nebula-light);
    color: var(--global-colors-white);
    border-left: var(--global-colors-nebula);

    svg {
        filter: invert(100%) brightness(2000%);
    }
}

.page-home {
    // Styles for the page-home class

    & + footer {
        display: none;
    }
}

footer.footer {
    background-color: var(--global-colors-white);

    @media (min-width: 821px) {
        width: calc(100vw - var(--global-sidebar-width));
        margin-left: var(--global-sidebar-width);
    }

    @media (min-width: 1280px) {
        width: calc(100vw - (var(--global-sidebar-width) + var(--global-sidebar-width) + 100px));
        margin-left: var(--global-sidebar-width);
    }

    .container-fluid {
        padding: 0;

        .custom-footer {
            display: flex;
            flex-direction: column;
            color: var(--global-colors-black) !important;
            justify-content: space-between;
            .spacer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: var(--global-sidebar-width);
                background-color: var(--global-colors-cararra) !important;
                min-height: 20vh;
                // transform: translateY(calc(100% - 50px));
                // min-width: 100%;
                padding: var(--global-docs-top-spacing) var(--global-gutter);
                display: none;

                @include media(desktop up) {
                    display: block;
                }
            }
            @include media(tablet) {
                max-width: 80vw;
                flex-direction: row;
                margin: 0 auto;
            }

            @include media(desktop up) {
                flex-direction: row;
                text-align: left;
                padding-bottom: 0;
            }

            a {
                color: var(--global-colors-black) !important;
            }

            &:hover {
                color: var(--global-colors-black);
            }
        }
    }
}

.my-card {
    border: 0.1px solid #dee3ea;
    border-radius: 12px;
    padding: 20px;
    background-color: transparent;
    /* margin: 5px; */
    transition: box-shadow 0.15s ease-out, transform 0.15s ease-out, opacity 0.15s ease-out;
    width: 94%;
    height: 88%;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @include media(tablet up) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include media(desktop up) {
        grid-template-columns: repeat(3, 1fr);
    }
    grid-gap: 0px;
    /* min-width: 45%; */
}
.card-heading {
    /* font-weight: bold; */
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 5px;
}
.card-paragraph {
    /* font-size: small; */
    font-size: 0.75rem;
    font-weight: 400;
}
.my-card:hover {
    box-shadow: 0px 1px 2px rgba(2, 8, 20, 0.06), 0px 2px 8px rgba(2, 8, 20, 0.08);
}
