*,
*::after,
*::before {
    @include box-sizing;
}

html {
    font-size: var(--global-font-size-default);
}

body {
    @include font-smoothing;
    font-family: var(--global-font-family);
    color: var(--global-colors-white);
    background-color: var(--global-colors-white);
    position: relative;
    overflow-x: hidden;
}

.theme-admonition {
    background-color: var(--global-colors-nebula-light);
    color: var(--global-colors-white);
    border-left: var(--global-colors-nebula);

    svg {
        filter: invert(100%) brightness(2000%);
    }
}

.my-card {
    border: 0.1px solid #dee3ea;
    border-radius: 12px;
    padding: 20px;
    background-color: transparent;
    /* margin: 5px; */
    transition: box-shadow 0.15s ease-out, transform 0.15s ease-out, opacity 0.15s ease-out;
    width: 94%;
    height: 88%;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @include media(tablet up) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include media(desktop up) {
        grid-template-columns: repeat(3, 1fr);
    }
    grid-gap: 0px;
    /* min-width: 45%; */
}
.card-heading {
    /* font-weight: bold; */
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 5px;
}
.card-paragraph {
    /* font-size: small; */
    font-size: 0.75rem;
    font-weight: 400;
}
.my-card:hover {
    box-shadow: 0px 1px 2px rgba(2, 8, 20, 0.06), 0px 2px 8px rgba(2, 8, 20, 0.08);
}
